langchain
chromadb
langchain_huggingface
langchain_groq
langchain_core
langchain_community
langchain_chroma
arxiv
wikipedia
pypdf
python-dotenv

langchain_openai
openai
langchain_astradb
streamlit
sentence-transformers
langchain_ollama
ipykernel
validators==0.28.1
youtube-transcript-api
pytube
unstructured